
.main {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-self: center;
    background-color:red;
    color: blue;
    cursor:pointer;
    margin-left: 29px;
    
}
.main:hover {
    background-color: blueviolet;
    color:aliceblue;
    border-radius: 20px;
}

