.containerCalender {
    background-color: rgb(253, 253, 253);
    color: purple;
    display: flex;
    flex-direction: column;
}

.calendario {
    /* background-color: red;
    color: blue;
    height: 100%; */
    display:flex;
    width: 100%;
    background: rgb(255, 255, 255);
    border: 1px solid #a0a096;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 5.125em;

}