.containerCalender {
    background-color: rgb(255, 254, 254);
    display: flex;
    flex-direction: column;
}

.calendario {
    /* background-color: red;
    color: blue;
    height: 100%; */
    display:flex;
    width: 100%;
    background: rgb(255, 255, 255);
    border: 1px solid #a0a096;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 5.125em;

}
.big-calender {
    display: flex;
    justify-content: center;
    color: rgba(65, 70, 3, 0.793);
    background-color: white;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.textNomeSite {
    color: rgba(105, 113, 14, 0.793) ;
    font-size: 30px;
}

.containerBtn {
    /* background-color: rgb(39, 6, 65); */
    display: flex;
    flex-direction: row;
}

.btnVoltar {
    background-color: rgba(174, 190, 0, 0.793);
    color: white;
    border: 0px solid black;
    border-radius: 5px;
    flex-direction: column;
    margin-left: 35px;
    height: 25px;
    cursor: pointer;
    box-shadow: 1px 1px 10px 6px rgba(220, 220, 220, 0.7);
}
.tituloBtn {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 3.5px;
    font-weight: bolder;
    padding: 0;
}
.btnVoltar:hover {
    background-color: white;
    color: rgba(174, 190, 0, 0.793); 
    border: 1.5px solid rgba(174, 190, 0, 0.793); 
    height: 30px;  
    
}

.iconeLogOut {
    margin-right: 3px;
    height: 19px;
    padding: 0;
}

.containerDADOS {
    flex: 1;
    flex-direction: row;
    width: 80%;
    align-self: center;
    background-color: rgb(211, 208, 208);
    height: 70px;
}

.containerINLINE {
    flex: 2;
    flex-direction: row;
    
    background-color: rgb(220, 52, 52);
}

.noveEventoInput {
    margin-top: 10px;
    display: flex;
    width: 35%;
    border-width: 0px;
    border-radius: 4px;
    outline: none;  
    color: rgb(60, 59, 59);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
}
/* Passos logica --> */
.datePicker {
    flex: 1;
    cursor: pointer;
    background-color: rgb(35, 201, 201);
    outline: none; 
    border-width: 0px;
    border-radius: 5px;
}

.handleAddEvent {
    flex-direction: column;
    
}



