.containerCalender {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.calendario {
    display:flex;
    width: 100%;
    background: rgb(255, 255, 255);
    border: 1px solid #a0a096;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 5.125em;

}
.big-calender {
    display: flex;
    justify-content: center;
    color: rgba(65, 70, 3, 0.793);
    background-color: white;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.textNomeSite {
    color: rgba(105, 113, 14, 0.793) ;
    font-size: 30px;
}

.containerBtn {
    margin-top: 25px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
}

.btnVoltar {
    background-color: rgba(174, 190, 0, 0.793);
    color: white;
    border: 0px solid black;
    border-radius: 5px;
    flex-direction: column;
    margin-left: 35px;
    height: 25px;
    cursor: pointer;
    box-shadow: 1px 1px 10px 6px rgba(220, 220, 220, 0.7);
}
.tituloBtn {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 3.5px;
    font-weight: bolder;
    padding: 0;
}
.btnVoltar:hover {
    background-color: white;
    color: rgba(174, 190, 0, 0.793); 
    border: 1.5px solid rgba(174, 190, 0, 0.793); 
    height: 30px;  
    
}

.iconeLogOut {
    margin-right: 3px;
    height: 19px;
    padding: 0;
}

.containerDADOS {
    flex: 1;
    flex-direction: row;
    width: 32%;
    padding: 1px;
    align-self: center;
    /* background-color: rgb(23, 121, 72); */
    height: 70px;
}

.containerINLINE {
    /* flex-direction: row;
    background-color: rgb(220, 52, 52); */
    background-color: rgb(227, 227, 227);
    width: 502px;
    border-radius: 15px;
}

.noveEventoInput {
    margin-left: 8px; 
    display: flex;
    width: 55%;
    border-width: 0px;
    border-radius: 4px;
    outline: none;  
    color: rgb(60, 59, 59);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
    border-width: 1.3px;
    border-color: rgb(167, 185, 6);
}
/* Passos logica --> */
.datePicker {
    display: flex;
    cursor: pointer;
    background-color: rgb(203, 204, 207);
    outline: none; 
    border-width: 0px;
    border-radius: 5px;
    padding: 1;
}

.paragrafoData {
    height: 25px;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    margin-left: 18px;
    color: rgb(123, 136, 5);
    font-weight: 500;
}
.containerDatePickers { /* Errado */ 
    /* background-color: rgb(150, 80, 80); */
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 35px;
    width: 100%;
    padding-left: 38px;
    

}
.conteinerLABEL {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    /* background-color: purple; */
}

.labelDatasAdvice {
    display: flex;
    color: rgb(89, 89, 32);
}

/*Conteiner dos botoes  */ 
.containerButtons {
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    height: 50px;
    justify-content: space-around;    
}

.handleAddEvent {
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    background-color: rgb(134, 132, 12);
    align-self: center;

}

.handleAddEvent:hover {
    background-color: white;
    color: rgb(60, 60, 60);
    border-color: rgb(134, 132, 12);
}


.betterTimer {
    border: none;
    border-radius: 5px;
    flex-direction: row;
    align-self: center;
    height: 20px;
    cursor: pointer;
    color: white;
    background-color: rgb(75, 75, 221);
}

/* Estilo Modal */ 
.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: gray; */
    width: 60%;
    margin-top: calc(100%/10);
    margin-left: calc(100%/5);
}
 .containerModal{   
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    width:  100%;  
    color: rgb(48, 48, 184);
    border-width: medium;
    border-style: solid;
    border-color: rgb(44, 208, 44);
}  




