
.botao {
    background-color:red;
    color: blue;
    cursor:pointer;
}
.botao:hover {
    background-color: blueviolet;
    color:aliceblue;
    border-radius: 8px;
}

h2 {
    color:  white;
    font-size: small;
    align-self: center;
}
