.container {
     display: flex;
     background-color: red;
}

.botao {
    background-color:red;
    color: blue;
    cursor:pointer;
    width: 40%;
    
}
.botao:hover {
    background-color: blueviolet;
    color:aliceblue;
    border-radius: 30px;
}

h2 {
    color:  white;
    font-size: small;
    
}
