
.botao {
    background-color: rgb(64, 44, 215);
    cursor:pointer;
    color: white;
    align-content: center;
    border-width: 1px;
}
.botao:hover {
    background-color: white;
    color: rgb(64, 44, 215);
    border-radius: 8px;
}

h2 {
    /* color:  white; */
    font-size: small;
    align-self: center;
}
