
.botao {
    background-color: rgba(174, 190, 0, 0.793);
    cursor:pointer;
    color: white;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.botao:hover {
    background-color: white;
    color: rgb(98, 98, 98);
    border-radius: 7px;
}

h2 {
    /* color:  white; */
    font-size: small;
    align-self: center;
}
