
.botao {
    background-color: rgb(137, 137, 137);
    cursor:pointer;
    color: white;
    border-width: 1px;
}
.botao:hover {
    background-color: rgb(223, 223, 223);
    color:black;
    border-radius: 8px;
}

h2 {
    /* color:  white; */
    font-size: small;
    align-self: center;
}
