
.botao {
    background-color: rgba(174, 190, 0, 0.793);
    cursor:pointer;
    color: white;
    border-width: 0.4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.botao:hover {
    background-color: white;
    color: rgb(98, 98, 98);
    border-radius: 7px;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10vh;
    display: flex;
    align-self: center;
}
