.container {
    background-color: gray;
    color: brown;
    font-weight: bolder;
    height: 900px;
}

.mainData {
    margin-top: 15%;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 500px;
}
.h2Title {
    background-color: aquamarine;
    color: black;
    font-size: 26px;
    margin-bottom: 1;
    padding: 0;
}

.containerButton {
    margin-top: 8px;
    background-color: blue;
    width: 30%;
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.containerInputs { 
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    width: 30%; 
}

.inputEmail_Senha {
    /* background-color: gray; */
    border-radius: 7px;
    border-width: 1px;
    margin-top: 8px;
    height: 25px;
    box-shadow: -1px 1px 5px 2px rgba(209,207,209,0.52);
}


