.container {
    background-color: gray;
    color: brown;
    font-weight: bolder;
}

.containerButton {
    margin-top: 8px;
    background-color: blue;
    width: 50%;
    padding-inline-start: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}