.container {
    /* background-color: gray; */
    color: brown;
    font-weight: bolder;
}

.mainData {
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h2Title {
    color: black;
    font-size: 26px;
    margin-bottom: 1;
}

.containerButton {
    margin-top: 8px;
    background-color: blue;
    width: 50%;
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.containerInputs { 
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet; */
    width: 50%; 
}

.inputEmail_Senha {
    /* background-color: gray; */
    border-radius: 10px;
    margin-top: 8px;
    height: 25px;
    /* box-shadow: 2px 1px 4px 1px rgba(0, 0, 0, 0.2); */
    box-shadow: -1px 1px 5px 2px rgba(209,207,209,0.52);
}


