.fundo {
    height: 100vh;
    width: 100vw;
    margin: 0;  
    background-image: url('../../images/blocoUTFPR.jpg') ;
    background-repeat: no-repeat; 
    background-size: cover;    
}
.container {
    /* background-color: gray; */
    font-weight: bolder;
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: column;
    align-items: center;

}
.mainData {
    margin-top: 15%;
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 250px;
    border-radius: 22px;
    opacity: 0.85;

}
.h2Title {
    color: rgba(174, 190, 0, 0.793);
    font-size: 26px;
    margin-bottom: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.h2Title:hover {
    font-size: 30px;
    color: rgb(94, 94, 94);
}
.containerButton {
    margin-top: 16px;
    width: 38%;
    padding: 2px;
    display: flex;
   
}
.containerInputs { 
    display: flex;
    flex-direction: column;
    width: 56%; 
}
.inputEmail_Senha {
    border-radius: 7px;
    border-width: 1px;
    margin-top: 10px;
    height: 25px;
    outline: none;
    box-shadow: -1px 1px 5px 2px rgba(209,207,209,0.52);
    color: rgba(111, 120, 8, 0.793);
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.inputEmail_Senha:focus {
    box-shadow: 0 0 8px rgba(174, 190, 0, 0.793);
    border: none;
    outline: none;
}
.icone_Senha {
    position: absolute;
    display: flex;
    margin-top:  57px;
    align-self: flex-end;
}



