.container {
    background-color: gray;
    color: brown;
    font-weight: bolder;
}

.mainData {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerButton {
    margin-top: 8px;
    background-color: blue;
    width: 50%;
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.containerInputs { 
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    width: 50%; 
}

.inputEmail_Senha {
    background-color: gray;
    border-radius: 10px;
    margin-top: 8px;
    height: 13%;
}


