.fundo {
    /* background-color: blue; */
    height: 100vh;
    width: 100vw;
    margin: 0;  
    /* position: relative; */
    background-image: url('../../images/blocoUTFPR.jpg') ;
    background-repeat: no-repeat; 
    background-size: cover; 
    
}
.container {
    /* background-color: gray; */
    font-weight: bolder;
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: column;
    align-items: center;

}
.mainData {
    margin-top: 15%;
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 250px;

}
.h2Title {
    /* background-color: aquamarine; */
    color: rgb(64, 44, 215);
    font-size: 26px;
    margin-bottom: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.h2Title:hover {
    font-size: 30px;
    color: rgb(94, 94, 94);
}
.containerButton {
    margin-top: 16px;
    /* background-color: blue; */
    width: 38%;
    padding: 2px;
    display: flex;
   
}

.containerInputs { 
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet; */
    width: 56%; 
}

.inputEmail_Senha {
    /* background-color: gray; */
    border-radius: 7px;
    border-width: 1px;
    margin-top: 10px;
    height: 25px;
    box-shadow: -1px 1px 5px 2px rgba(209,207,209,0.52);
}


