.container {
    background-color: gray;
    color: brown;
    font-weight: bolder;
}

.containerButton {
    margin-top: 8px;
    background-color: blue;
    width: 50%;
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.containerInputs { 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blueviolet;
    width: 100%;
}